# Import Aspect bazelrc presets.
import %workspace%/.aspect/bazelrc/bazel6.bazelrc
import %workspace%/.aspect/bazelrc/convenience.bazelrc
import %workspace%/.aspect/bazelrc/correctness.bazelrc
import %workspace%/.aspect/bazelrc/debug.bazelrc
import %workspace%/.aspect/bazelrc/performance.bazelrc

test --test_env=LANG=en_US.UTF-8
test --test_output=errors
test --build_tests_only

build --copt -fvisibility=hidden
build --copt -fvisibility-inlines-hidden

build --copt -Wno-deprecated-non-prototype
build --cxxopt -std=c++17
build --host_cxxopt -std=c++17

common --features=layering_check

common:asan -c dbg
common:asan --strip=never
common:asan --copt -fsanitize=address
common:asan --copt -DADDRESS_SANITIZER
common:asan --copt -O1
common:asan --copt -g
common:asan --copt -fno-omit-frame-pointer
common:asan --linkopt -fsanitize=address


build --experimental_remote_merkle_tree_cache
query --experimental_remote_merkle_tree_cache

build --keep_going
test  --keep_going
test --test_verbose_timeout_warnings

common:ci --google_default_credentials
common:ci --remote_upload_local_results
common:ci --spawn_strategy sandboxed

--@llvm_zlib//:llvm_enable_zlib=true
