!*.svg
*.a
*.app
*.cmd
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.map
*.mod
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.slo
*.smod
*.so
*.so.*
*.su
*.x86_64
.netrwhist
.tmp_versions/
/bazel-*
/build
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Mkfile.old
Module.symvers
Session.vim
Sessionx.vim
Testing
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
_deps
cmake_install.cmake
compile_commands.json
dkms.conf
install_manifest.txt
modules.order